/* Global Layout Set-up */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #878787;
  background-color: #dcdcdc;
  font: 1em/1.5 'Josefin Sans', Helvetica, Arial, sans-serif;
}

/* mobile first styles */
h1 {
	font-size: 2.25em;
	padding: 30px;
	border: 2px solid;
	text-align: center;
}

nav ul {
	list-style-type: none;
}

.main-nav ul {
	text-align: center;
	width:95%;
	margin: auto;
	}

.main-nav li {
	padding: 4px 0;
	margin: 5px 0;
	font-size: 1.625em;
	background-color: #fff;
}

/* link styles */

a:link {
	text-decoration: none;
}