/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  color: black;
  background-color: #ddd;
  font: 1em/1.5 'Josefin Sans', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.25em;
	text-align: center;
	color: black;
	font-family: 'Neucha', cursive;
}

h2 {
	font-size: 2em;
	padding-bottom: 10px;
	text-align: center;
	color: #555;
	font-family: 'Neucha', cursive;
}

h3 {
	font-size: 1.5em;
	padding: 10px;
	text-align: center;
	color: black;
	font-family: 'Neucha', cursive
}

h4 {
	font-size: 1.225em;
	padding: 10px;
	text-align: center;
	color: black;
	font-family: 'Neucha', cursive
}

img {
	box-shadow: 0 6px 10px #999;
}

.contact h2 {
	color: black;
}


/* mobile first styles */

/* Navigation */

nav ul {
	list-style-type: none;
}

.main-nav ul {
	text-align: center;
	width:95%;
	margin: auto;
	}

.main-nav li {
	padding: 4px 0;
	margin: 5px 0;
	font-size: 1.5em;
	background-color: #fff;
	font-family: 'Neucha', cursive;
}

/* top profile */

.top {
	width:90%;
	margin: 0 auto;
}

.top img {
	display: block;
	margin: 20px auto;
	width: 100%;  /** this made the rest of content center **/
}

.intro {
	line-height: 1.5;
	font-size: 1.125em;
	text-align: center;
	font-weight: 300;
}

/* main block*/

.wrapper {
	background: white;
	width: 100%;
	padding: 20px;
}

.block {
	width: 90%;
	margin: 20px auto;
}

.block-img {
	width: 100%;
}

.block p {
	text-align: center;
}

aside {
	width: 100%;
	margin: auto;
	background-color: #eee;
	text-align: center;
	padding: 20px 50px;
	box-shadow:  inset 1px 1px 6px #aaa,
				 inset -1px -1px 6px #aaa;
}

/* Footer */

.contact {
	text-align: center;
	padding: 0 20px;
}

.contact-info {
	font-weight: bold;
}

footer {
	width: 90%;
	margin: auto;
	border-top: 1px solid #ccc;
}

.footer-name {
	float: left;
}

.footer-back {
	float: right;
	text-transform: uppercase;
}

.footer-nav {
	display: none;
}

/* link styles */

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: #5ECF80;
	transition: all .5s;
	border-bottom: 1px solid;
}



/* ----------------
media queries 
------------------*/


@media (min-width:768px) {

  .container {
	width: 90%;
	margin: 0 auto;
	}

  h1 {
    text-align: center;
    padding: 0;
  }
  .main-nav li {
    display: inline-block;
    margin: 0 10px;
    background-color: transparent;
  }

  .top-img {
  	display: inline;
  	float: right;
  	width: 45%;
  }

  .intro {
  	float: left;
  	width: 50%;
  	text-align: left;
  }

  .block {
  	float: left;
  	width: 50%;
  	padding: 0 20px;
  }

  .footer-back {
  	display: none;
  }

  .footer-nav {
  	float: right;
  	display: inline-block;
  }

  .footer-nav li {
  	float: left;
  	margin: 30px 20px;
  }
}


@media (min-width:1024px) {

	.block {
		width: 33%;
	}

	h1 {
		float: left;
		display: inline;
	}

	.main-nav {
		float: right;
		display: inline-block;
		width: 340px;
		margin-top: 30px;
		float: right;
		padding-right: 0;
	}


	.main-nav li {
    	float: left;
    	/*padding: 0 10px;*/
  }

  .contact p {
  	font-size: 1.25em;
  }
}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
