/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

body {
	background-color: #dcdcdc;
	font-family: 'Josefin Sans', sans-serif;
}

.main-nav h1,
.main-nav ul {
   display: inline;
}

.main-nav li {
	float: right;
}

nav ul {
	list-style-type: none;
}

a:link {
	text-decoration: none;
	color: black;
}