/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

body {
	background-color: #dcdcdc;
	font-family: 'Josefin Sans', sans-serif;
}

nav ul {
	list-style-type: none;
}

.name {
	display: inline;
	border: 1px solid black;
}

.main-nav ul {
   float: right;
   border: 1px solid black;
}

.main-nav li {
   display: inline;
   padding-right: 30px;
}

a:link {
	text-decoration: none;
	color: black;
}
