/* Global Layout Set-up */
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background-color: #dcdcdc;
	font-family: 'Josefin Sans', sans-serif;
}

nav ul {
	list-style-type: none;
}

header {
	/*border-bottom: 2px solid black;
	height: 200px;*/
	padding: 30px;
	margin-bottom: 20px;
}

.name {
	display: inline;
	float: left;
	font-size: 2.25em;
	padding-left: 30px;
}

.main-nav ul {
   float: right;
}

.main-nav li {
   display: inline;
   padding-right: 30px;
   font-size: 1.625em;
}

a:link {
	text-decoration: none;
	color: black;
}

.intro {
	width: 60%;
	font-size: 1.25em;
}

.intro p {
	margin: 60px;
}

.profile-img {
	float: right;
	margin-right: 60px;
}





